Flask==2.3.3
requests==2.31.0
python-dotenv==1.0.1
openai-whisper==20250625
numpy==1.26.0
scipy==1.11.1
resampy==0.4.2
soundfile==0.13.1
pydub 
resampy 
soundfile 
numpy 
whisper
eventlet
flask
flask-socketio
python-socketio
av
requests
pyttsx3
openai
flask-cors 
vosk
ollama